#ignore binaries
M_*

#unignore the shell script
!docker/applictions/*.sh

#Ignore obj files
*.o

#Ignore pycache file
__pycache_/

.idea

*.code-workspace

.vscode

cmake*

CMake*


*.map.payload
*.log
*.csv
test/vsp/mmitss_cfg4test/nojournal/bin/v2x-data
test/vsp/mmitss_cfg4test/nojournal/bin/log
test/mrp/testSSM/__pycache__
test/mrp/testSPat/__pycache__
mmitss/src/common/MsgTransceiver/CarmaDecoderRos2/build
mmitss/src/common/MsgTransceiver/CarmaDecoderRos2/install
mmitss/src/common/MsgTransceiver/CarmaDecoderRos2/log

mmitss/build/scripts/deployment/launch-container-temp-quick.sh
mmitss/build/dockerfiles/x86/Dockerfile_ori.carma_vsp_ros2
mmitss/build/scripts/quick-build-image.sh
mmitss/src/common/MsgTransceiver/CarmaDecoderRos2/src
mmitss/src/common/MsgTransceiver/CarmaDecoderRos2/src/*.o

test/vsp/testBsm/__pycache__
test/vsp/testSPat/__pycache__
test/vsp/testSRM/__pycache__
test/vsp/launch-container-4test.sh
mmitss/build/scripts/build-image-tmp.sh
mmitss/build/scripts/deployment/quicklaunch.sh
